* {
  font-family: 'Poppins', Arial, sans-serif;
}

.App-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.header--padding {
  padding: 30px 0;
}

.header--border {
  box-shadow: 0 5px 15px -3px #E1E1E1;
}

.header--title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #383838;
  font-size: calc(15px + 2vmin);
}

.table {
  margin: 10px;
}

.table th {
  border-bottom: 2px solid #dddddd;
}

.main {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #F3F9FA;
}

.App {
  text-align: center;
  background-color: #F3F9FA;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.country-header {
  padding-top: 30px;
}

.grid {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.grid::-webkit-scrollbar {
  width: 5px;
  padding-left: 10px;
}

.grid:hover::-webkit-scrollbar {
  width: 5px;
  padding-left: 10px;
  display: block;
}

.grid::-webkit-scrollbar-track {
  background: #f9feff;
}

.grid::-webkit-scrollbar-thumb {
  background: #e3f5f8;
}

.grid::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.grid-header {
  font-weight: 600;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 12px;
}

.grid-row {
  padding: 10px 15px;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.disclaimer {
  text-align: left;
  font-size: 14px;
  line-height: 1.1;
}

.padding-left {
  padding-left: 25px!important;
}

.exchange-button{
  width: 130px;
  padding: 5px;
  color: #ffffff;
  background: #5aa570;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 728px) {
  .grid-row {
    font-size: 12px;
  }
  .disclaimer {
    font-size: 10px;
    line-height: 1;
  }

  h5 {
    font-size: 16px!important;
  }

  h6 {
    font-size: 14px!important;
  }
}
